<%- include ('../../partials/header') %>
<%- include ('../../partials/message') %>
<main>
  <!DOCTYPE html> 
  <html>
  <head>
    <title>The Old Fashioned Way</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
    <!--Nes.CSS Styling-->
    <!-- minify -->
    <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
    <!-- latest -->
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <!-- core style only -->
    <link href="https://unpkg.com/nes.css/css/nes-core.min.css" rel="stylesheet" />
    <!--------------------------------------------------------------------------------------------------->
    <link href="css/pong.css" media="screen, print" rel="stylesheet" type="text/css" /> 
  </head>
  <body>



    <!-- <div class="nes-container with-title is-centered">   -->
      
      <!-- <div class='settings'>
        <label for='sound'>sound: </label>
        <input  type='checkbox' id='sound'>
      </div> -->

      <!--In order to remove these div tags you have to remove it from the statst-->
      <!-- <div class='settings'>
        <label for='stats'>stats: </label>
        <input type='checkbox' id='stats' checked>
      </div> -->

      <!-- <div class='settings'>
        <label for='footprints'>footprints: </label>
        <input type='checkbox' id='footprints'>
      </div>

      <div class='settings'>
        <label for='predictions'>predictions: </label>
        <input type='checkbox' id='predictions'>
      </div> -->

    <!-- </div> -->
    <div class="container-fluid h-100">
      <div class="h-100 row">
        <div class="col col-md-auto">
          <div class="nes-container is-dark with-title">
            <h3 class="title">PLAYER 1</h3>
            <image src= '<%= ImageURL %> ' height="150" width="150"></image>
          </div>
          <h5 style="margin-top: 15px; color: #ffffff;"><%= Username %></h5>
          <h6 style="color: #ffffff;"><%= TotalWins %>-<%= TotalLosses %></h6>
          <p><br></p>
          <h6>'q' — UP</h6>
          <h6>'a' — DOWN</h6>
        </div>

        <div class="col">
          <canvas style="width: auto; height: auto; max-width: 100%; max-height: 100%; padding: 30px;" id="game">
            <div id="unsupported">
              Sorry, this example cannot be run because your browser does not support the &lt;canvas&gt; element
            </div>
          </canvas>
        </div>

        <div class="col col-md-auto">
          <div class="nes-container is-dark with-title">
            <h3 class="title">PLAYER 2</h3>
            <image src='<%= ImageURL2 %> ' height="150" width="150"></image>
          </div>
          <h5 style="margin-top: 15px; text-align: right; color: #ffffff;"><%= Username2 %></h5>
          <h6 style="text-align: right; color: #ffffff;"><%= TotalWins2 %>-<%= TotalLosses2 %></h6>
          <p><br></p>
          <h6 style="text-align: right;">UP — 'p'</h6>
          <h6 style="text-align: right;">DOWN — 'l'</h6>
        </div>
      </div>
    </div>

      <script src="js/game.js" type="text/javascript"></script> 
      <script src="js/pong.js" type="text/javascript"></script>
      <script type="text/javascript">
      Game.ready(function() {

        var size        = document.getElementById('size');
        var sound       = document.getElementById('sound');
        var stats       = document.getElementById('stats');
        var footprints  = document.getElementById('footprints');
        var predictions = document.getElementById('predictions');

        var pong = Game.start('game', Pong, {
          // sound:       sound.checked,
          // stats:       stats.checked,
          // footprints:  footprints.checked,
          // predictions: predictions.checked
        });

        Game.addEvent(sound,       'change', function() { pong.enableSound(sound.checked);           });
        Game.addEvent(stats,       'change', function() { pong.showStats(stats.checked);             });
        Game.addEvent(footprints,  'change', function() { pong.showFootprints(footprints.checked);   });
        Game.addEvent(predictions, 'change', function() { pong.showPredictions(predictions.checked); });

      });
      </script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </body> 
  </html>
</main>