<%- include ('../partials/header') %>
<%- include ('../partials/message') %>

<main>
    <div class="container" style="padding-top: 60px;">
        <div class="nes-container is-dark with-title" style="max-width: 960px; margin:auto;">
            <h3 class="title">EDIT PROFILE</h3>
            <div class="nes-container is-dark" style="margin-top: 30px; margin-bottom: 30px;">
                <center>
                    <button class="btn btn-secondary"><img src=<%= ImageURL %>
                        alt="Snorlax" height="200" width="200" /></button>
                </center>
                <table style="width:100%;">
                    <tr>
                        <td style="font-size: 22px; width:30%;">Username: </td>
                        <% if(locals.Username == locals.Player1) { %>
                            <form action="/edit_name" method="post">
                                <td>
                                    <div class="nes-field" style="margin-top: 10px; margin-bottom: 10px; margin-left: 1px; margin-right: 1px;">
                                        <input type="text" class="nes-input is-dark" id="username" name="username" required>
                                    </div>
                                </td>
                                <td>
                                    <button type="submit" style="float: right;" class="nes-btn is-success">CONFIRM</button>
                                </td>
                            </form>
                        <% } else { %>
                            <form action="/edit_name2" method="post">
                                <td>
                                    <div class="nes-field" style="margin-top: 10px; margin-bottom: 10px; margin-left: 1px; margin-right: 1px;">
                                        <input type="text" class="nes-input is-dark" id="username" name="username" required>
                                    </div>
                                </td>
                                <td>
                                    <button type="submit" style="float: right;" class="nes-btn is-success">CONFIRM</button>
                                </td>
                            </form>
                        <% } %>             
                    </tr>
                    <tr>
                        <td style="font-size: 22px;">Country:</td> <th style="font-size: 22px;"><%= Country %></th>
                    </tr>
                    <tr>
                        <td style="font-size: 22px;">Record:</td> <th style="font-size: 22px;"><%= TotalWins %> wins <%= TotalLosses %> lose</th>    
                    </tr>
                    <tr>
                        <td style="font-size: 22px;">Coins:</td> <th style="font-size: 22px;"><%= CurrencyBalance %></th>
                    </tr>
                </table>
            </div>
            <div class="row">
                <% if (locals.Username == locals.Player1) { %>
                    <form action="/profile" method="GET">
                        <button type="submit" style="float:left;" class="nes-btn is-error">BACK</button>
                    </form>
                <% } else {%>
                    <form action="/profileUser2" method="GET">
                        <button type="submit" style="float:left;" class="nes-btn is-error">BACK</button>
                    </form>
                <% } %>       
            </div>
        </div>
    </div>
</main>

<%- include ('../partials/footer') %>
