<%- include ('../partials/header') %>
<%- include ('../partials/message') %>


<!-- <div class="container-fluid" style="padding-top: 100px;">
  <div class="titleScreen"></div>
</div> -->
<main>
<form action="/main" method="GET">
  <button type="submit" style="position:absolute; top: 20px; right: 20px; margin-bottom: auto;margin-right: auto;" class="nes-btn is-error">BACK</button>
</form>
<!-- Different Filter Selection -->
<div class="row">
    <form action="/main_lb"method="GET">
      <button type="submit" style="position: absolute; top: 60px; left: 250px; max-width:fit-content;font-size: 8px; " class="nes-btn is-success">Filter [WINS]</button>
    </form>
</div>
<!-- Leaderboard Main -->
<div class="container" style="padding-top: 60px;">
<div class="nes-container is-dark with-title is-centered" style="margin: auto;max-width: 560px;">
  <h3 class="title">The Old Fashion Way </h3>

  <div class="nes-table-responsive ">
    <table class="nes-table is-bordered is-dark "  style="margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto;">
      <thead>
        <tr>
          <th>Username</th>
          <th>Country</th>
          <th>Currency</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(function(lb){ %>
        <tr>
          <td><%=lb.username%></td>
          <td><%=lb.country%></td>
          <td><%=lb.CurrencyBalance%></td>
        </tr>
        <%});%>
      </tbody>
    </table>
  </div>
</div>
</div>
</div>
</main>

<%- include ('../partials/footer') %>