<%- include ('../partials/header') %>
<%- include ('../partials/message') %>

<main>
<form action="/main" method="GET">
  <button type="submit" style="position:absolute; top: 20px; left: 20px; margin-bottom: auto;margin-right: auto;" class="nes-btn is-error">BACK</button>
</form>
<!-- Leaderboard Main -->
<div class="container" style="margin: auto; max-width: 720px; padding-top: 60px;">
    <div class="row">
        <div class="item" style="background-color:#212529; padding: 1rem 0;">
            <% if (FILTER == 1) { %>
                <form action="/leaderboard" method="POST">
                    <span style="color: #ffffff; font-size: 10px;">[FILTER]</span>
                    <label>
                        <input onChange="this.form.submit();" type="radio" class="nes-radio is-dark" name="filter" value="0">
                        <span>WINS</span>
                    </label>
                    <label>
                        <input onChange="this.form.submit();" type="radio" class="nes-radio is-dark" name="filter" value="1" checked>
                        <span>COINS</span>
                    </label>
                </form>
            <% } else { %>
                <form action="/leaderboard" method="POST">
                    <span style="color: #ffffff; font-size: 10px;">[FILTER]</span>
                    <label>
                        <input onChange="this.form.submit();" type="radio" class="nes-radio is-dark" name="filter" value="0" checked>
                        <span>WINS</span>
                    </label>
                    <label>
                        <input onChange="this.form.submit();" type="radio" class="nes-radio is-dark" name="filter" value="1">
                        <span>COINS</span>
                    </label>
                </form>
            <% } %>
        </div>
    </div>
    <div class="row">
        <div class="nes-container is-dark with-title" style="margin: auto; width: 720px;">
            <h3 class="title">LEADERBOARD</h3>
            <table class="table table-borderless" style="color: #ffffff;">
                <% if (FILTER == 1) { %>
                    <tbody>
                        <% data.forEach(function(lb){ %>
                        <tr>
                            <td style="width: 8%;"><%=lb.row%>.</td>
                            <td style="width: 78%"><%=lb.username%>, <%=lb.country%></td>
                            <td><%=lb.currencybalance%></td>
                        </tr>
                        <%});%>
                    </tbody>
                <% } else { %>
                    <tbody>
                        <% data.forEach(function(lb){ %>
                        <tr>
                            <td style="width: 8%;"><%=lb.row%>.</td>
                            <td style="width: 78%"><%=lb.username%>, <%=lb.country%></td>
                            <td><%=lb.totalwins%></td>
                        </tr>
                        <%});%>
                    </tbody>
                <% } %>
            </table>
        </div>
    </div>
</div>
</main>

<%- include ('../partials/footer') %>