<h1><centre>Welcome User : <%= Username %></centre></h1>
<h1><centre>User's Country : <%= Country %></centre></h1>
<h1><centre>User's Total Wins : <%= TotalWins %></centre></h1>
<h1><centre>User's Total Losses : <%= TotalLosses %></centre></h1>
<h1><centre>User's Currency Balance : <%= CurrencyBalance %></centre></h1>