<%- include ('../partials/header') %>
<%- include ('../partials/message') %>


<main>
    <!-- Logout Button -->
    <form action="/logout" method="GET">
        <button type="submit" style="position: absolute; top: 20px; right: 20px;max-width:fit-content;" class="nes-btn is-error">LOGOUT</button>
    </form>
    <!-- Leaderboard Button -->
    <form action="/leaderboard" method="POST">
        <button type="submit" style="position: absolute; top: 20px; left: 20px;max-width:fit-content;" class="nes-btn is-normal">LEADERBOARDS</button>
    </form>
    <!-- Background -->
    <div class="container-fluid" style="padding-top: 100px;">
        <div class="titleScreen"></div>
    </div>
    <!-- Main Page Buttons -->
    <div class="container text-center" style="position: absolute; left: 50%; bottom: 125px; transform: translateX(-50%)">
            <form action="/profile" method="POST">
                <button type="submit" style="margin-left: auto; margin-right: auto; margin-top: 12px;" class="nes-btn is-primary">PLAYER 1: <%= Username %></button>
            </form>
            <% if(locals.Username2) { %>
                <form action="/profileUser2" method="POST">
                    <button type="submit" style="margin-left: auto; margin-right: auto; margin-top: 12px;" class="nes-btn is-primary">PLAYER 2: <%= Username2 %></button>
                </form>
            <% } else { %> 
                <form action="/loginUser2" method="GET">
                    <button type="submit" style="margin-left: auto; margin-right: auto; margin-top: 12px;" class="nes-btn is-warning">LOGIN player 2</button>
                </form>
            <% } %>
            <% if(locals.Username2 && locals.Username) { %>
                <form action="/placeBet" method="GET">
                    <button type="submit" style="margin-left: auto; margin-right: auto; margin-top: 36px;" class="nes-btn is-success">START GAME</button>
                </form>
            <% } else { %> 
                <div class="tooltiptext">
                    <button type="button" style="margin-left: auto; margin-right: auto; margin-top: 36px;" class="nes-btn is-disabled" data-toggle="tooltip" data-placement="top" title="Singin With User 2">PLEASE SIGN IN WITH USER 2</button>
                </div>
            <% } %>    
    </div>
</main>

<%- include ('../partials/footer') %>