<%- include ('../partials/header') %>
<%- include ('../partials/message') %>


<!--
    <div class="nes-container is-rounded is-dark" style="width:500px;height:400px;line-height:3em;overflow:auto;padding:5px; position:absolute; top:100px ; left:100px;
            color: aqua;">
        <h2 class="title" style="color:#ffffff ;">Match History</h2>
        This 'div' element uses 'overflow:auto' to create scrollbars.
        <br>
        1 vs. 2 |   1 WIN  |  Coins: 100
        <br>
        2 vs. 3 |   2 WIN  |  Coins: 100
        <br>
        3 vs. 4 |   3 WIN  |  Coins: 100
        <br>
        3 vs. 4 |   3 WIN  |  Coins: 100
        <br>
        3 vs. 4 |   3 WIN  |  Coins: 100
        <br>
        3 vs. 4 |   3 WIN  |  Coins: 100
    </div>
-->

<main>
    <form action="/logout" method="GET">
        <button type="submit" style="position: absolute; top: 20px; right: 20px;" class="nes-btn is-error">LOGOUT</button>
    </form>
    <form action="/main_lb" method="GET">
        <button type="submit" style="position: absolute; top: 20px; left: 20px;" class="nes-btn is-error">LeaderBoard</button>
    </form>
    
    <div class="container-fluid" style="padding-top: 100px;">
        <div class="titleScreen"></div>
    </div>
    <div class="container text-center" style="position: absolute; left: 50%; bottom: 125px; transform: translateX(-50%)">
            <form action="/profile" method="GET">
                <button type="submit" style="margin-left: auto; margin-right: auto; margin-top: 12px;" class="nes-btn is-primary">PLAYER 1: <%= Username %></button>
            </form>
            <% if(locals.Username2) { %>
                <form action="/profileUser2" method="GET">
                    <button type="submit" style="margin-left: auto; margin-right: auto; margin-top: 12px;" class="nes-btn is-primary">PLAYER 2: <%= Username2 %></button>
                </form>
            <% } else { %> 
                <form action="/loginUser2" method="GET">
                    <button type="submit" style="margin-left: auto; margin-right: auto; margin-top: 12px;" class="nes-btn is-warning">LOGIN player 2</button>
                </form>
            <% } %>
            <% if(locals.Username2 && locals.Username) { %>
            <a href="/placeBet">
                <button type="submit" style="margin-left: auto; margin-right: auto; margin-top: 36px;" class="nes-btn is-success">START GAME</button>
            </a>
            <% } else { %> 
                <div class="tooltiptext">
                    <button type="button" class="nes-btn is-disabled" data-toggle="tooltip" data-placement="top" title="Singin With User 2">Please Sign in With User 2</button>
                </div>
            <% } %>    
    </div>


</main>

<%- include ('../partials/footer') %>