<%- include ('../partials/header') %>
<%- include ('../partials/message') %>

<main>
    <div class="container" style="padding-top: 60px;">
        <div class="nes-container is-dark with-title" style="max-width: 960px; margin:auto;">
            <h3 class="title">PROFILE</h3>
            <div class="nes-container is-dark" style="margin-top: 30px; margin-bottom: 30px;">
                <center>
                    <button class="btn btn-secondary"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKn1n4QbBse5CRtGYgdHj0fZN0WepAYgr8cQ&usqp=CAU"
                        alt="Snorlax" height="200" width="200" /></button>
                </center>
                <table style="width: 100%;">
                    <tr>
                        <td style="font-size: 22px; width: 30%;">Username: </td> <th style="font-size: 22px;"><%= Username %></th>
                        <td>
                            <% if (locals.Username == locals.Player1) { %>
                                <form action="/edit_name" method="GET">
                                    <button type="submit" style="float: right;" class="nes-btn is-warning">EDIT</button>
                                </form>
                            <% } else { %>
                                <form action="/edit_name2" method="GET">
                                    <button type="submit" style="float: right;" class="nes-btn is-warning">EDIT</button>
                                </form>
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 22px;">Country:</td> <th style="font-size: 22px;"><%= Country %></th>
                    </tr>
                    <tr>
                        <td style="font-size: 22px;">Record:</td> <th style="font-size: 22px;"><%= TotalWins %> wins, <%= TotalLosses %> losses</th>    
                    </tr>
                    <tr>
                        <td style="font-size: 22px;">Coins:</td> <th style="font-size: 22px;"><%= CurrencyBalance %></th>
                    </tr>
                </table>
            </div>
            <div class="row">
                <a href="/main">
                    <button type="button" style="float:left;" class="nes-btn is-error">BACK</button>
                </a>
            </div>
        </div>
    </div>
</main>
<%- include ('../partials/footer') %>